.bot-card {
    position: relative;
    transition: background-color 0.3s ease-out;

    >* {
        transition: background-color 0.3s ease-out;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(238, 242, 255, 0.4);
        transform: scale(0);
        transform-origin: bottom left;
        border-top-right-radius: 1000px;
        transition: transform 0.3s ease-in, border-top-right-radius 0.3s ease-in;
        z-index: -1;
    }

    &:hover {
        &::before {
            transform: scale(1);
            border-top-right-radius: 0px;
        }

        background-color: transparent;

        >* {
            background-color: transparent;
        }
    }
}

.skeleton-card {
    &>div {
        &>div {
            width: 100% !important;
            height: 100% !important;
        }
    }
}

.avatar-upload {
    position: relative;

    &:hover {
        .avatar-upload-btn {
            display: block;
        }
    }

    .avatar-upload-btn {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        &:hover {
            background-color: rgba(0, 0, 0, 0.2) !important;
        }
    }

    .avatar-upload-loading {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }
}

.no-more-tip {
    &::before {
        width: 160px !important;
    }
    &::after {
        width: 160px !important;
    }
}