.milkdown {
  @apply bg-slate-50 px-2 py-4 m-5 border rounded;
}

.editor {
  @apply mx-auto;
}

milkdown-code-block {
  display: block;
  position: relative;
  background: #F8F8FD !important;
  margin: 10px 0;
  padding: 10px 10px;

  * {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
  }

  .language-picker {
    width: max-content;
    position: absolute;
    z-index: 1;
    display: none;
    padding-top: 0px;
  }

  .language-picker.show {
    display: block;
  }

  .language-button {
    display: flex;
    align-items: center;
  }

  .search-box {
    display: flex;
    align-items: center;
  }

  .search-box .clear-icon {
    cursor: pointer;
    margin-left: 4px;    
  }

  .hidden {
    display: none;
  }

  .cm-editor {
    outline: none !important;
  }

  .language-button {
    padding: 2px 8px;
    margin-bottom: 4px;
    border: none;
    border-radius: 5px;
    background: transparent;
    font-size: 12px;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover .language-button {
    opacity: 1;
    cursor: pointer;
  }

  .language-button:hover {
    background: #EBEDF2;
  }

  .language-button .expand-icon {
    transition: transform 0.2s ease-in-out;
  }

  .language-button .expand-icon svg {
    width: 16px;
    height: 16px;
  }

  .language-button[data-expanded="true"] .expand-icon {
    transform: rotate(180deg);
  }

  .language-button .expand-icon svg:focus,
  .language-button .expand-icon:focus-visible {
    outline: none;
  }

  .list-wrapper {
    background: #EBEDF2;
    border-radius: 5px;
    width: 220px;
  }

  .language-list {
    height: 356px;
    overflow-y: auto;
    margin: 0;
    padding: 0;
  }

  .language-list-item {
    cursor: pointer;
    margin: 0;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 16px;
    font-size: 12px;
  }

  .language-list-item:hover {
    background: #F9F9F9;
  }

  .language-list-item:focus-visible {
    outline: none;
    background: #F9F9F9;
  }

  .language-list-item .leading,
  .language-list-item .leading svg {
    width: 16px;
    height: 16px;
  }

  .list-wrapper {
    padding-top: 10px;
  }

  .search-box {
    margin: 0;
    height: 36px;
    padding: 0px 16px 10px;
    font-size: 12px;
  }

  .search-box .search-input {
    width: 100%;
    border: solid 1px #AAAAAA;
    border-radius: 5px;
    padding: 6px;
  }

  .search-box .search-icon svg {
    width: 16px;
    height: 16px;
  }

  .search-box .clear-icon svg {
    width: 16px;
    height: 16px;
  }

  .search-box input {
    background: transparent;
  }

  .search-box input:focus {
    outline: none;
  }
}

.cm-editor {
  font-size: 14px;
  .cm-line {
    @apply text-pretty;
    &.cm-activeLine {
        background-color: #E2EAFD !important;
    }
  }
}

.cm-gutters {
    border: none !important;
    background-color: inherit !important;

    .cm-activeLineGutter {
        background-color: #E2EAFD !important;
    }
}