:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

body,
#root {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)) !important;

    margin: 0;
    padding: 0;
}

.text-animation {
    background-image: linear-gradient(-45deg, #ffcb47, #e34ba9, #369eff, #95f3d9);
    -webkit-background-size: 400% 400%;
    background-size: 400% 400%;
    border-radius: inherit;
    -webkit-animation: 5s animation-text 5s ease infinite;
    animation: 5s animation-text 5s ease infinite;
    position: relative;
    z-index: 5;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-colorful {
    background-image: linear-gradient(-45deg, #ffcb47, #e34ba9, #369eff, #95f3d9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animation-text {
    0% {
        -webkit-background-position: 0% 50%;
        background-position: 0% 50%;
    }

    50% {
        -webkit-background-position: 100% 50%;
        background-position: 100% 50%;
    }

    100% {
        -webkit-background-position: 0% 50%;
        background-position: 0% 50%;
    }
}

/**
 * 对 layout 的样式进行覆盖
 */
.ant-pro-layout {
    .ant-layout-sider {
        padding: .5rem !important;

        .ant-layout-sider-children {
            background: linear-gradient(to bottom,
                    transparent,
                    rgb(245, 245, 245)) rgb(245, 245, 245) !important;
            border-radius: 1rem !important;
            border: none;
        }

        .ant-pro-sider-extra {
            margin: 0;
        }

        .ant-space {
            display: flex;
        }

        .ant-menu {
            container-type: inline-size;

            .ant-menu-item {
                padding: 0 15px !important;
            }

            @container (max-width: 80px) {
                .ant-menu-item {
                    padding: 0 !important;
                }
            }

            .ant-menu-item-selected {
                background-color: rgba(0, 0, 0, 0.08) !important;
            }
        }
    }

    .ant-pro-layout-container {
        background: linear-gradient(to bottom,
                transparent,
                rgb(245, 245, 245)) rgb(245, 245, 245) !important;

        .ant-layout-content {
            padding: 0 !important;
            min-height: 100vh !important;

            .ant-tabs {
                .ant-tabs-nav {
                    .ant-tabs-nav-list {
                        // 默认button样式
                        .ant-tabs-tab-btn {
                            font-size: 18px !important;
                            font-weight: 500 !important;
                            color: rgba(29, 28, 35, 0.6) !important;
                            transition: color 0.3s ease-out;
                        }

                        // 选中button样式
                        .ant-tabs-tab-active {
                            .ant-tabs-tab-btn {
                                color: #589aF4 !important;
                            }
                        }

                        // 禁用的button样式
                        .ant-tabs-tab-disabled {
                            .ant-tabs-tab-btn {
                                color: rgb(187, 187, 187) !important;
                            }
                        }

                        // button底部线条样式
                        .ant-tabs-ink-bar {
                            background-color: #589aF4 !important;
                        }
                    }
                }

                .ant-tabs-content {
                    margin: auto 1rem !important;
                }
            }
        }
    }
}

.ant-dropdown {
    .ant-dropdown-menu {
        .ant-dropdown-menu-item {
            .ant-typography {
                color: #080808 !important;
                &.ant-typography-danger {
                    color: #ec5e41 !important;
                }
            }
            &.ant-dropdown-menu-item-disabled {
                .ant-typography {
                    color: #a1a1a1 !important;
                    &.ant-typography-danger {
                        color: #ffbeb1 !important;
                    }
                }
            }
        }
    }
}

.menu-height-30 {

    .ant-menu-inline,
    .ant-menu-item {
        line-height: 30px !important;
        height: 30px !important;
    }
}